<template>
    <div>
        <div class="container narrow">
            <article class="card details-container">
                <div class="card__info details">
                    <span>Code: </span>
                    <span class="detail">{{ currency.code }}</span>
                    <h3>
                        <span class="bold">Name: </span>
                        <span class="detail">{{ currency.name }}</span>
                    </h3>
                    <span>Rate to EUR: </span>
                    <span class="detail">{{ currency.rate }}</span>
                </div>
            </article>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            currency: Object
        }
    }
</script>

<style scoped>

    .details-container, h3 {
        min-width: 25rem;
        font-size: 20px;
    }

    .details {
        font-weight: bold;
        text-align: start;
    }

    .detail {
        font-weight: normal;
        color: #42b983;
    }
</style>