<template>
    <router-link class="card-link" :to="{ name: 'Currency', params: {id: currency.id } }">
        <article class="card">
            <div class="card__info">
                <span class="card__code">{{ currency.code }}</span>
                <h3 class="card__name">{{ currency.name }}</h3>
                <span class="card__rate-title">Rate to EUR: </span>
                <span class="card__rate">{{ currency.rate }}</span>
            </div>
        </article>
    </router-link>
</template>

<script>
    export default {
        props: {
            currency: Object
        }
    }
</script>

<style scoped>

</style>