<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ name: 'Currencies' }">Home</router-link> |
      <router-link :to="{ name: 'Create currency' }">Create new currency</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
  @import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


  html {
    background-color: #D2DBDD;
  }
 
  #app {
    
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;


  }

  #nav {
    padding: 30px;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }

    * {
      box-sizing: border-box;
      font-family: 'Roboto Slab', serif;
    }

    .container {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .narrow {
        margin: 0 auto;
        width: 50%;
    }

    .cards {
        background-color: #D2DBDD;
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        max-width: 820px;
        flex-wrap: wrap;
    }

  .card__info-hover {
        position: absolute;
        padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
    }

    .card-link {
        color: inherit;
        text-decoration: none;
        width: 30%;
        min-width: 15rem;
        border-radius: 12px;
        overflow: hidden;
        margin: 10px;
        transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }

    .card-link:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
        transform: scale(1.10, 1.10);
    }

    .card {
        background-color: #fff;
        width: 100%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }

    .card__info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 16px 24px 24px 24px;
    }

    .card__code {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #868686;
    }

    .card__name {
        margin-top: 5px;
        margin-bottom: 10px;
        font-family: 'Roboto Slab', serif;
    }

    .card__rate-title {
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    .card__rate {
        font-weight: 600;
        text-decoration: none;
        color: #42b983;
    }

    /* Login container */
    #container{
        margin: auto;
        width: 30rem;
        height: 50rem;
    }

    /* Heading */
    h1{
        position: relative;
        margin-top: 0px;
        text-align: center;
        font-size: 40px;
        color: #000;
    }

    /* Inputs */
    input{
        width: 80%;
        display: block;
        margin: 20px auto;
        font-size: 20px;
        color: #000;
        padding: 8px 15px;
        border-radius: 8px;
        border: none;
        background: #fff;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    input:focus{
        outline: none;
        transform: scale(1.10, 1.10);
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }

    /* Placeholders */
    ::-webkit-input-placeholder {
        color: #A2ABAA;  }
    :-moz-placeholder { /* Firefox 18- */
        color: #A2ABAA; }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #A2ABAA;  }
    :-ms-input-placeholder {  
        color:#A2ABAA;  }

  button {
        width: 80%;
        min-width: 6rem;
        display: block;
        margin: 20px 20px;
        font-size: 20px;
        color: #000;
        padding: 8px 15px;
        border-radius: 8px;
        border: none;
        text-align: center;
        background: #42b983;
        font-family: 'Roboto Slab', serif;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    button:hover{
        background: #52c993;
        transform: scale(1.10, 1.10);
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }

</style>
