<template>
    <div>
        <h1>Details</h1>
        <CurrencyDetails v-bind:currency="currency"/>
        <div class="container narrow">
            <button v-on:click="redirectToEdit">Edit</button>
            <button v-on:click="redirectToDelete">Delete</button>
        </div>
    </div>
</template>

<script>
    import CurrencyDetails from "../../components/currency/CurrencyDetails.vue";
    import CurrencyService from "../../services/CurrencyService.js";
    import router from '@/router/index.js';


    export default {
        props: {
            id: String
        },
        components: {
            CurrencyDetails
        },
        data() {
            return {
                currency: {}
            }  
        },
        created() {
            CurrencyService.get(this.id)
                .then(res => {
                    console.log(res);
                    
                    this.currency = res
                });
        },
        methods: {
            redirectToEdit() {
                router.push({ name: 'Edit currency', params: {id: this.currency.id } });
            },
            redirectToDelete() {
                router.push({ name: 'Delete currency', params: {id: this.currency.id } });
            }
        }
    }
</script>

<style scoped>

</style>