<template>
    <div>
        <h1>Are you sure you want to delete this currency?</h1>
        <CurrencyDetails v-bind:currency="currency"/>
        <div class="container narrow">
            <button v-on:click="cancel">Cancel</button>
            <button v-on:click="deleteCurrency">Delete</button>
        </div>
    </div>
</template>

<script>
    import CurrencyDetails from "../../components/currency/CurrencyDetails.vue";
    import CurrencyService from "../../services/CurrencyService.js";
    import router from '@/router/index.js';


    export default {
        props: {
            id: String
        },
        components: {
            CurrencyDetails
        },
        data() {
            return {
                currency: {}
            }  
        },
        created() {
            CurrencyService.get(this.id)
                .then(res => {      
                    this.currency = res
                });
        },
        methods: {
            cancel() {
                router.push({ name: 'Currency', params: {id: this.currency.id } });
            },
            deleteCurrency() {
                CurrencyService.delete(this.id)
                    .then(result => {
                        console.log(JSON.stringify(result));
                    })
                    .catch(error => {
                        console.log('failed' + error);
                    })
                    .then(result => {
                        console.log(result);
                        
                        router.push({ name: 'Currencies'});
                    });    
                router.push({ name: 'Delete currency', params: {id: this.currency.id } });
            }
        }
    }
</script>

<style scoped>

</style>