<template>
    <div id="container" class="narrow">
        <h1>Edit currency</h1>
        <input v-model="currency.name" name="name" placeholder="Name" required>
        <input v-model="currency.code" placeholder="Code" required>
        <input v-model="currency.rate" placeholder="Rate to euro" required>     
        <button v-on:click="update">Save</button>
        <button v-on:click="cancel">Cancel</button>
    </div>
</template>

<script>
    import CurrencyService from "../../services/CurrencyService.js";
    import router from '@/router/index.js';

    export default {
        props: {
            id: String
        },
        data() {
            return {
                currency: {}
            }  
        },
        created() {
            CurrencyService.get(this.id)
                .then(res => {
                    console.log(res);
                    
                    this.currency = res
                })
                .catch(error => {
                    console.log(error);
                    
                });
        },
        methods: {
            update() {
                CurrencyService.update(this.currency.id, this.currency)
                    .then(result => {
                        console.log(JSON.stringify(result));
                        
                    })
                    .catch(error => {
                        console.log('failed' + error);
                    })
                    .then(result => {
                        console.log(result);
                        
                        router.push({ name: 'Currencies'});
                    });
            },
            cancel() {
                router.push({ name: 'Currency', params: {id: this.currency.id } });
            },
        }
    }
</script>

<style scoped>
    button {
        margin: 20px auto;
    }
</style>