<template>
    <div id="container">
        <h1>Create currency</h1>
            <input v-model="currency.name" name="name" placeholder="Name" required >
            <input v-model="currency.code" placeholder="Code" required>
            <input v-model="currency.rate" placeholder="Rate to euro" required>
            <button class="button" v-on:click="submit">Create</button>

    </div>
</template>

<script>
    import CurrencyService from "../../services/CurrencyService.js";
    import router from '@/router/index.js';

    export default {
        data() {
            return {
                currency: {}
            }  
        },
        methods: {
            submit() {
                CurrencyService.create(this.currency)
                    .then(result => {
                        console.log(JSON.stringify(result));
                        
                    })
                    .catch(error => {
                        console.log('failed' + error);
                    })
                    .then(result => {
                        console.log(result);
                        
                        router.push({ name: 'Currencies'});
                    });
            }
        }
    }
</script>

<style scoped>
    button {
        margin: 20px auto;
    }
</style>