<template>
    <div>
        <h1>Currencies</h1>
        <div class="container">
            <section class="cards">  
                <CurrencyCard v-for="currency of currencies" :key="currency._id" :currency="currency"/>
            </section>
        </div>
    </div>
</template>

<script>
    import CurrencyCard from "../../components/currency/CurrencyCard.vue";
    import CurrencyService from "../../services/CurrencyService.js";

    export default {
        components: {
            CurrencyCard
        },
        data() {
            return {
                currencies: []
            }  
        },
        created() {
            CurrencyService.getAll()
                .then(res => {
                    console.log(res);
                    
                    this.currencies = res
                });
        }
    }
</script>

<style scoped>

</style>